
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Promotion Engine Application</h1>
    <p class="lead">The Application provides a way to calculate the promotions applied for different products based on pre-defined set of rules.</p>
    Click here to use @Html.ActionLink("Promotion Engine tool", "Promotions", "PromotionEngine")
</div>
